<div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Adjuntador de documentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="create()">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
                <ion-auto-complete class="prism" formControlName="MSISDN_LINEA" [dataProvider]="numeroschips" [options]="telefono">
                </ion-auto-complete>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" style=" display: flex; align-items: center; justify-content: center;">

              <ion-auto-complete class="prism" formControlName="TIPO_BENEFICIARIO" [dataProvider]="service" [options]="options">
              </ion-auto-complete>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Nombre Completo</ion-label>
                <ion-input formControlName="NOMBRE_COMPLETO" type="text" (keyup)="onKey($event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2" style=" display: flex; align-items: center; justify-content: center;">

              <ion-auto-complete formControlName="TIPO_DE_DOCUMENTO" [dataProvider]="documento" [options]="tipo_cedula">
              </ion-auto-complete>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Numero de documento</ion-label>
                <ion-input formControlName="NUMERO_DE_DOCUMENTO" type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Direccion</ion-label>
                <ion-input formControlName="DIRECCION_BARRIO_BENEFICIARIO" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" style=" display: flex; align-items: center; justify-content: center;">
              <ion-auto-complete formControlName="MUNICIPIO_BENEFICIARIO" [dataProvider]="departamento" [options]="ciudad"></ion-auto-complete>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input formControlName="NUMERO_DE_TELEFONO" type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Nombre institucion</ion-label>
                <ion-input formControlName="NOMBRE_INSTITUCION_EDUCATIVA" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Nombre tutor</ion-label>
                <ion-input formControlName="NOMBRE_COMPLETO_TUTOR" type="text" (keyup)="nombreTutor($event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Telefono tutor</ion-label>
                <ion-input formControlName="TELEFONO_CONTACTO_TUTOR" type="number"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Cedula tutor</ion-label>
                <ion-input formControlName="NUMERO_DOCUMENTO_TUTOR" type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" expand="block" color="success" [disabled]="formGroup.invalid">Crear</ion-button>

            </ion-col>
          </ion-row>

        </ion-grid>

      </form>

    </ion-card-content>
  </ion-card>
</div>