<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Descargar informes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-label>Seleccionar fecha</ion-label>
      <ion-input
        value="{{ date | date: 'dd.MM.yyyy' }}"
        id="date"
        class="ion-text-end"
      ></ion-input>
      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="date"
            locale="es-ES"
            (ionChange)="fecha()"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-grid>
  <ion-card>
    <ngx-datatable #table class="material striped" [columnMode]="columnMode.force" [headerHeight]="50"
      [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="rows">
      <ngx-datatable-column name="GUIA" prop="GUIA">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.GUIA}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="SERIAL_SIM" prop="SERIAL_SIM">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.SERIAL_SIM}}
        </ng-template>
      </ngx-datatable-column>
     
      <ngx-datatable-column name="MSISDN_LINEA" prop="MSISDN_LINEA">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.MSISDN_LINEA}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <ion-card-content>
      <ion-button expand="block" color="success" csvLink [data]="rows" [headers]="headers" [filename]="name">Exportar a CSV</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>