<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Chips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ngx-datatable #table class="material striped" [columnMode]="columnMode.force" [headerHeight]="50"
      [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="rows">
      <ngx-datatable-column name="Numero de Identificación" prop="ID">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.ID}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Numero Serial" prop="numero_sim">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.numero_sim}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Serial" prop="serial_sim">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.serial_sim}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Municipio" prop="municipio">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{municipioParse(row.municipio)}}

        </ng-template>
      </ngx-datatable-column>



    </ngx-datatable>
    <ion-card-content>
      <ion-button expand="block" color="success" (click)="changeState()">Subir Chips</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-modal [isOpen]="modalController" (didDismiss)="changeState()" cssClass="auto-height">
  <ng-template>
    <div class="inner-content">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-label>
              <h2 class='ion-text-center'>¿Nombre del Municipio?</h2>
            </ion-label>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="formGroup" (ngSubmit)="uploadChip()">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" fill="outline">
                    <input type="file" (change)="onFileChange($event)" />
                  </ion-item>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item fill="outline">
                    <ion-label position="floating">Municipio</ion-label>
                    <ion-select formControlName="municipio" multiple="false" cancelText="Cancel" okText="Okay!">
                      <ion-select-option *ngFor="let municipio of  municipios" value={{municipio.ID}}>
                        {{municipio.NOMBRE}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <div *ngIf="f.municipio.touched && f.municipio.invalid" class="alert alert-danger">
                    <div *ngIf="f.municipio.errors && f.municipio.errors['required']">
                      Porfavor seleccione un municipio.
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button type="submit" expand="block" color="success">Crear</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-modal>