<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Resumen Grafico</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [type]="barChartType">
          </canvas>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <!-- List Header Inset Lines -->
          <ion-item fill="outline">
            <ion-label position="floating">Municipio</ion-label>
            <ion-select multiple="false" cancelText="Cancel" okText="Okay!" #C (ionChange)="loadBarChart(C.value)">
              <ion-select-option *ngFor="let municipio of  municipios" value={{municipio.ID}}>{{municipio.NOMBRE}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>



    </ion-grid>

  </ion-card>

</ion-content>