<div style="
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  ">
  <ion-card>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      <ion-input [(ngModel)]="usuario" placeholder="Usuario" formControlName="usuario" required></ion-input>
      <ion-label color="danger" *ngIf="myForm.get('usuario').touched && myForm.get('usuario').errors?.required">Correo
        es
        necesario</ion-label>
      <ion-label color="danger" *ngIf="myForm.get('usuario').errors?.pattern">Usuario es invalido</ion-label>
      <ion-input [(ngModel)]="password" placeholder="password" formControlName="password" required></ion-input>
      <ion-label color="danger" *ngIf="myForm.get('password').touched && myForm.get('password').errors?.required">
        Contraseña es necesaria</ion-label>
      <ion-label color="danger" *ngIf="myForm.get('password').errors?.minlength">Contraseña invalida</ion-label>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</div>